.text-align {
  text-align:center;
}

.container {
    display: grid;
    place-items:center;
    background-color:DEDEDE;
}

.content {
    background-color:DEDEDE;
    margin: 20px;
}

.box {
    background-color:FFFFFF;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.box-container {
    display:flex;
}

p {
    margin: 20px;
    padding-top: 0px;
    padding: 20px;
}

h1 {
    margin: 0px 20px 0px 20px;
    padding: 10px;
}

footer {
    place-items:center;
    background-color:DEDEDE;
}